<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseNote - Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/adjustheight.css">
    <link rel="stylesheet" type="text/css" href="../css/admin-expensenumbers.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
</head>
<body>
    <div id="content">
        <div id="add-expense-number-div-background">
            <div id="add-expense-number-div">
                <div id="add-expense-number-inputs">
                    <div class="add-expense-number-btns-top">
                        <input id="add-expense-number-number" class="add-expense-number-btn fake-btn" type="text" placeholder="Number">
                        <input id="add-expense-number-description" class="add-expense-number-btn fake-btn" type="text" placeholder="Description">
                    </div>
                    <select id="add-expense-number-user"></select>
                </div>
                <div id="add-expense-number-btns">
                    <div class="add-expense-number-btns-top">
                        <button id="add-expense-number-cancel" class="add-expense-number-btn cancel">Cancel</button>
                        <button id="add-expense-number-save-another" class="add-expense-number-btn save-another">Save/Add Another</button>
                    </div>
                    <button id="add-expense-number-save" class="add-expense-number-btn save">Save</button>
                </div>
            </div>
            <button id="delete-btn">Delete</button>
        </div>
        <div id="title-space">
            <div id="title-wrapper">
                <h1 id="title">Expense Numbers</h1>
            </div>
        </div>
        <button id="add-expense-number-btn">
            <ion-icon name="add-circle-outline"></ion-icon>
        </button>
        <div id="expensenumbers-list-space">
            <ul id="expensenumbers-list"></ul>
        </div>
        <div id="navbar-space">
            <nav id="navbar">
                <div id="navbar-content">
                    <div id="expenses-btn-wrapper" class="navbar-adminsubspace">
                        <button id="expenses-btn" class="navbar-btn">
                            <ion-icon class="navbar-icon" name="file-tray-full"></ion-icon>
                        </button>
                    </div>
                    <div id="expensenumbers-btn-wrapper" class="navbar-adminsubspace">
                        <button id="expensenumbers-btn" class="navbar-btn">
                            <ion-icon class="navbar-icon" name="pricetags"></ion-icon>
                        </button>
                    </div>
                    <div id="countdown-wrapper" class="navbar-subspace">
                        <div id="countdown">
                            <p id="countdown-text"></p>
                        </div>
                    </div>
                    <div id="users-btn-wrapper" class="navbar-adminsubspace">
                        <button id="users-btn" class="navbar-btn">
                            <ion-icon class="navbar-icon" name="people"></ion-icon>
                        </button>
                    </div>
                    <div id="backtouser-btn-wrapper" class="navbar-adminsubspace">
                        <button id="backtouser-btn" class="navbar-btn">
                            <ion-icon class="navbar-icon" name="arrow-forward-outline"></ion-icon>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
        <script src="../js/adjustview.js"></script>
        <script src="../js/a_expensenumbers-addexpensenumber.js"></script>
        <script src="../js/a_expensenumbers-controladdmodal.js"></script>
        <script src="../js/a_expensenumbers-deleteexpensenumber.js"></script>
        <script src="../js/a_expensenumbers-fetchallexpensenumbers.js"></script>
        <script src="../js/a_expensenumbers-fetchemployeeoptions.js"></script>
        <script src="../js/navbar-countdown.js"></script>
        <script src="../js/navbar-navigation.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
</body>
</html>