<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseNote - Form</title>
    <link rel="stylesheet" type="text/css" href="../css/adjustheight.css">
    <link rel="stylesheet" type="text/css" href="../css/expenseform.css">
    <link rel="stylesheet" type="text/css" href="../css/receiptphotofullscreen.css">
</head>
<body>
    <div id="content">
        <div id="back-confirm-modal-background" style="display: none;">
            <div id="back-confirm-modal">
                <p id="back-confirm-text">There are unsaved changes, leaving will discard your changes.</p>
                <div id="back-confirm-btns-div">
                    <button id="back-confirm-cancel">Stay</button>
                    <button id="back-confirm-confirm">Leave</button>
                </div>
            </div>
        </div>
        <div id="back-btn-wrapper">
            <button id="go-back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>  
            </button>
        </div>
        <div id="title-space">
            <div id="title-wrapper">
                <h1 id="title">Expense Form</h1>
            </div>
        </div>
        <div id="simple-input-space">
            <div class="simple-input-wrapper">
                <div class="simple-input-div">
                    <div class="simple-input-title-wrapper">
                        <span class="simple-input-title">Payment</span>
                    </div>
                    <select id="payment-select" class="simple-input" name="payment" id="payment-select">
                        <option value="church-credit-card">Church Credit Card</option>
                        <option value="reimbursement">Reimbursement</option>
                        <option value="invoice">Invoice</option>
                    </select>
                </div>
            </div>
            <div id="not-my-card-checkbox-wrapper">
                <input id="not-my-card-checkbox" type="checkbox"><span id="not-my-card-text">Not My Card.</span>
            </div>
            <div id="cc-name-wrapper" class="simple-input-wrapper">
                <div class="simple-input-div">
                    <div class="simple-input-title-wrapper">
                        <span class="simple-input-title">CC Name</span>
                    </div>
                    <input id="credit-card-holder-input" class="simple-input" type="text">
                </div>
            </div>
            <div class="simple-input-wrapper">
                <div class="simple-input-div">
                    <div class="simple-input-title-wrapper">
                        <span id="vendor-text" class="simple-input-title">Vendor</span>
                    </div>
                    <input id="vendor-input" class="simple-input" type="text">
                </div>
            </div>
            <div id="address-wrapper" class="simple-input-wrapper">
                <div class="simple-input-div">
                    <div class="simple-input-title-wrapper">
                        <span class="simple-input-title">Address</span>
                    </div>
                    <input id="address-input" class="simple-input" type="text">
                </div>
            </div>
            <div class="simple-input-wrapper">
                <div class="simple-input-div">
                    <div class="simple-input-title-wrapper">
                        <span class="simple-input-title">Amount</span>
                    </div>
                    <input id="amount-input" class="simple-input" type="number" step=".01">
                </div>
            </div>
            <div class="simple-input-wrapper">
                <div class="simple-input-div">
                    <div class="simple-input-title-wrapper">
                        <span class="simple-input-title">Buy Date</span>
                    </div>
                    <input id="expense-date-input" class="simple-input" type="date">
                </div>
            </div>
        </div>
        <div id="expense-definers-space">
            <div id="expense-numbers-holder"></div>
            <ul id="expense-definers-list">
                <li id="expense-definers-1" class="expense-definer">
                    <div class="expense-definer-subwrapper">
                        <span class="expense-definer-text">Expense Number</span>
                        <select class="expense-definer-select" name="expense-number-1" id="expense-number-1">
                        </select>
                    </div>
                    <div class="expense-definer-subwrapper">
                        <span class="expense-definer-text">Business Purpose</span>
                        <textarea class="expense-definer-textarea" id="business-purpose-1"></textarea>
                    </div>
                    <div class="expense-definer-subwrapper expense-definer-subamount">
                        <span class="expense-definer-text">Sub Amount</span>
                        <input class="expense-definer-input" type="number" step=".01">
                    </div>
                    <button class="expense-definer-remove-btn">X</button>
                </li>
            </ul>
            <div id="expense-definers-add-btn-wrapper">
                <button id="expense-definers-add-btn">
                    <ion-icon id="expense-definers-add-icon" name="add-circle-outline"></ion-icon>
                </button>
            </div>
            <div id="removed-expense-definers" style="display: none;"></div>
        </div>
        <div id="receipt-photos-space">
            <div id="receipt-photos-btns">
                <span id="receipt-photos-text">Receipt Photo(s)</span>
                <button class="receipt-photos-btn" id="new-photo-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 photo-icon">
                        <path d="M12 9a3.75 3.75 0 1 0 0 7.5A3.75 3.75 0 0 0 12 9Z" />
                        <path fill-rule="evenodd" d="M9.344 3.071a49.52 49.52 0 0 1 5.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 0 0 1.11-.71l.822-1.315a2.942 2.942 0 0 1 2.332-1.39ZM6.75 12.75a5.25 5.25 0 1 1 10.5 0 5.25 5.25 0 0 1-10.5 0Zm12-1.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                    </svg>                      
                </button>
                <input type="file" accept="image/*,.pdf" capture="environment" id="camera-input" class="camera-input">
                <button class="receipt-photos-btn" id="choose-photo-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 photo-icon">
                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
                    </svg>
                </button>
                <input type="file" accept="image/*, .pdf" id="photo-input" class="camera-input">
            </div>
            <div id="photo-viewer"></div>
            <div id="removed-photos" style="display: none;"></div>
        </div>
        <div id="submit-expense-btn-space">
            <div id="submit-expense-btn-wrapper">
                <button id="submit-expense-btn">Submit Expense</button>
            </div>
        </div>
        <div id="photo-fullscreen-div" style="display: none;">
            <button id="close-fullscreen">X</button>
            <img id="photo-fullscreen"  alt="fullscreen of selected photo">
        </div>
        <script src="../js/adjustview.js"></script>
        <script src="../js/receiptphotofullscreen.js"></script>
        <script src="../js/expenseform-filloutform.js"></script>
        <script src="../js/expenseform-fetchmyexpensenumbers.js"></script>
        <script src="../js/expenseform-simpleinputcontroller.js"></script>
        <script src="../js/expenseform-submitexpense.js"></script>
        <script src="../js/expenseform-expensedefinerscontroller.js"></script>
        <script src="../js/expenseform-imagebuttons.js"></script>
        <script src="../js/expenseform-imagecontroller.js"></script>
        <script src="../js/expenseform-backbutton.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
</body>
</html>