<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseNote - Login</title>
    <link rel="stylesheet" type="text/css" href="../css/adjustheight.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
    <div id="content">
        <div id="logo-space">
            <div id="logo-wrapper">
                <img id="logo" src="" alt="expense note logo">
            </div>
        </div>
        <div id="credentials-space">
            <div class="credentials-subspace">
                <div class="credentials-input-wrapper">
                    <input id="email-input" class="credentials-input" type="email" placeholder="Email">
                </div>
            </div>
            <div class="credentials-subspace">
                <div class="credentials-input-wrapper">
                    <input id="password-input" class="credentials-input" type="password" placeholder="Password">
                </div>
            </div>
            <button id="login-btn">Login</button>
        </div>
        <div id="signup-btn-space">
            <div id="signup-btn-wrapper">
                <button id="signup-btn">New User</button>
            </div>
        </div>
        <script src="../js/adjustview.js"></script>
        <script src="../js/login-loginuser.js"></script>
        <script src="../js/login-newuser.js"></script>
    </div>
</body>
</html>