<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseNote - New User</title>
    <link rel="stylesheet" type="text/css" href="../css/adjustheight.css">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
</head>
<body>
    <div id="content">
        <div id="logo-space">
            <div id="logo-wrapper">
                <img id="logo" src="../../images/cerberus-min.png" alt="expense note logo">
            </div>
        </div>
        <div id="credentials-space">
            <div class="credentials-subspace">
                <div class="credentials-input-wrapper">
                    <input id="fname-input" class="credentials-input" type="text" placeholder="First Name">
                </div>
            </div>
            <div class="credentials-subspace">
                <div class="credentials-input-wrapper">
                    <input id="lname-input" class="credentials-input" type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="credentials-subspace">
                <div class="credentials-input-wrapper">
                    <input id="email-input" class="credentials-input" type="email" placeholder="Email">
                </div>
            </div>
            <div class="credentials-subspace">
                <div class="credentials-input-wrapper">
                    <input id="password-input" class="credentials-input" type="password" placeholder="Password">
                </div>
            </div>
            <div id="admin-checkbox-subspace">
                <div id="admin-checkbox-wrapper">
                    <input id="admin-checkbox" type="checkbox"><span>Admin</span>
                </div>
            </div>
            <div id="admin-password-div" class="credentials-subspace">
                <div class="credentials-input-wrapper">
                    <input id="admin-password-input" class="credentials-input" type="password" placeholder="Admin Password">
                </div>
            </div>
            <button id="signup-btn">Register</button>
        </div>
        <div id="login-btn-space">
            <div id="login-btn-wrapper">
                <button id="login-btn">Back to Login</button>
            </div>
        </div>
        <script src="../js/adjustview.js"></script>
        <script src="../js/signup-admincheckbox.js"></script>
        <script src="../js/signup-registeruser.js"></script>
        <script src="../js/signup-backtologin.js"></script>
    </div>
</body>
</html>